name: SonarCloud
on:
    pull_request:
        types: [opened, synchronize, reopened]
        branches: [main, develop]
jobs:
    sonarcloud:
        name: sonarcloud
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
              with:
                fetch-depth: 0
            - name: Sonarcloud-Scan
              uses: SonarSource/sonarqube-scan-action@v7
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
